@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: var(--secondary-color);
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.filter{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: inherit;
}

.filter:focus{
    outline: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
    cursor: pointer;
}

.movie-title{
    color: #eee;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

.movie-title span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    margin: 0.5rem;
    font-weight: bold;
}

button.detail.button{
    align-items: center;
}

.movie-detail{
    width: 600px;
    margin: 1rem;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie-detail img{
    width: 100%;
}

.movie-info {
    padding: 1rem;
}

.book {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.book-details {
    text-align: center;
    padding-top: 15px;
}

.movie-list{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: inherit;
}


.movie-list:focus{
    outline: 0;
}





